<header class="header">
    <div class="header__container container">
        <div class="header__up">
            <img src="./img/logo.svg" alt="" class="header__logo">
            <div class="header__content">
                <nav class="header__nav">
                    <a href="">О нас</a>
                    <a href="">Каталог</a>
                    <a href="">Новости</a>
                </nav>
                <div class="header__contacts">
                    <a href="tel:#">(303) 555-0105</a>
                    <a href="tel:#">(239) 555-0108</a>
                </div>
            </div>
        </div>
        <div class="header__catalog">
            <div class="header__button">
                <svg><use xlink:href="#menu"></use></svg>
                Catalog
            </div>
            <div class="header__input">
                <input placeholder="Find a solution" type="text">
                <div class="header__input-button">
                    <svg><use xlink:href="#search"></use></svg>
                </div>
            </div>
        </div>
    </div>
</header>