<div data-modal-js class="modal modal_callback">
    <div class="modal__container">
        <section class="form">
            <div class="form__container">
                <div data-modal-close class="modal__close"><svg><use xlink:href="#close"></use></svg></div>
                <img src="./img/graviton-logo.svg" alt="" class="form__logo">
                <h3 class="form__title">Запросите коммерческое предложение</h3>
                <h5 class="form__subtitle">Оставьте заявку прямо сейчас, и мы свяжемся с вами в ближайшее время!</h5>
                <form class="form__body">
                    <label class="form__label">
                        <input placeholder="Название компании" type="text">
                    </label>
                    <label class="form__label">
                        <input placeholder="Контактное лицо" type="text">
                    </label>
                    <label class="form__label">
                        <input placeholder="Телефон" type="text">
                    </label>
                    <label class="form__label">
                        <input placeholder="Электронная почта" type="text">
                    </label>
                    <label class="form__label form__label_textarea">
                        <textarea placeholder="Сообщение"></textarea>
                    </label>
                    <button class="form__sumbit">Начать проект</button>
                </form>
            </div>
        </section>
    </div>
</div>