<section data-certificates-js class="certificates">
    <div class="certificates__container container">
        <h3 class="certificates__title title">Сертификаты и награды</h3>
        <div class="certificates__swiper swiper">
            <div class="swiper-wrapper">
                <div class="certificates__case swiper-slide"><img data-fancybox src="./img/certificates/1.webp" alt=""></div>
                <div class="certificates__case swiper-slide"><img data-fancybox src="./img/certificates/1.webp" alt=""></div>
                <div class="certificates__case swiper-slide"><img data-fancybox src="./img/certificates/1.webp" alt=""></div>
                <div class="certificates__case swiper-slide"><img data-fancybox src="./img/certificates/1.webp" alt=""></div>
                <div class="certificates__case swiper-slide"><img data-fancybox src="./img/certificates/1.webp" alt=""></div>
            </div>
        </div>
    </div>
</section>