<section class="partners">
    <div class="partners__container container">
        <h3 class="partners__title title">Партнеры</h3>
        <div class="partners__content">
            <div class="partners__items">
                <img src="./img/partners-bg.webp" alt="" class="partners__image">
                <div class="partners__row">
                    <img src="./img/partners/axoft.webp" alt="">
                    <img src="./img/partners/mont.webp" alt="">
                    <img src="./img/partners/ametist.webp" alt="">
                    <img src="./img/partners/softline.webp" alt="">
                </div>
                <div class="partners__row">
                    <img src="./img/partners/axoft.webp" alt="">
                    <img src="./img/partners/mont.webp" alt="">
                    <img src="./img/partners/ametist.webp" alt="">
                    <img src="./img/partners/softline.webp" alt="">
                </div>
                <div class="partners__row">
                    <img src="./img/partners/axoft.webp" alt="">
                    <img src="./img/partners/mont.webp" alt="">
                    <img src="./img/partners/ametist.webp" alt="">
                    <img src="./img/partners/softline.webp" alt="">
                </div>
            </div>
        </div>
    </div>
</section>