<section data-reviews-js class="reviews">
    <div class="reviews__container container">
        <h3 class="reviews__title title">Отзывы клиентов</h3>
        <div class="reviews__swiper swiper">
            <div class="swiper-wrapper">
                <div class="reviews__case swiper-slide">
                    <div class="reviews__stars">
                        <svg><use xlink:href="#star"></use></svg>
                        <svg><use xlink:href="#star"></use></svg>
                        <svg><use xlink:href="#star"></use></svg>
                        <svg><use xlink:href="#star"></use></svg>
                        <svg><use xlink:href="#star"></use></svg>
                    </div>
                    <div class="reviews__text">
                        <p>«Решения IQT — это вершина надёжности и эффективности. Наша сеть никогда не была столь стабильной!»</p>
                    </div>
                    <div class="reviews__case-bottom">
                        <div class="reviews__author">
                            <img src="./img/gay-1.webp" alt="" class="reviews__author-image">
                            <div class="reviews__author-info">
                                <h5 class="reviews__author-name">Алексей Смирнов</h5>
                                <span class="reviews__author-job">ИнновацииПлюс</span>
                            </div>
                        </div>
                        <img src="./img/webflow.svg" alt="" class="reviews__case-company">
                    </div>
                </div>
                <div class="reviews__case swiper-slide">
                    <div class="reviews__stars">
                        <svg><use xlink:href="#star"></use></svg>
                        <svg><use xlink:href="#star"></use></svg>
                        <svg><use xlink:href="#star"></use></svg>
                        <svg><use xlink:href="#star"></use></svg>
                        <svg><use xlink:href="#star"></use></svg>
                    </div>
                    <div class="reviews__text">
                        <p>«Решения IQT — это вершина надёжности и эффективности. Наша сеть никогда не была столь стабильной!»</p>
                    </div>
                    <div class="reviews__case-bottom">
                        <div class="reviews__author">
                            <img src="./img/gay-1.webp" alt="" class="reviews__author-image">
                            <div class="reviews__author-info">
                                <h5 class="reviews__author-name">Алексей Смирнов</h5>
                                <span class="reviews__author-job">ИнновацииПлюс</span>
                            </div>
                        </div>
                        <img src="./img/webflow.svg" alt="" class="reviews__case-company">
                    </div>
                </div>
                <div class="reviews__case swiper-slide">
                    <div class="reviews__stars">
                        <svg><use xlink:href="#star"></use></svg>
                        <svg><use xlink:href="#star"></use></svg>
                        <svg><use xlink:href="#star"></use></svg>
                        <svg><use xlink:href="#star"></use></svg>
                        <svg><use xlink:href="#star"></use></svg>
                    </div>
                    <div class="reviews__text">
                        <p>«Наша сеть IQT — это гарантия стабильности и эффективности!»</p>
                    </div>
                    <div class="reviews__case-bottom">
                        <div class="reviews__author">
                            <img src="./img/gay-1.webp" alt="" class="reviews__author-image">
                            <div class="reviews__author-info">
                                <h5 class="reviews__author-name">Алексей Смирнов</h5>
                                <span class="reviews__author-job">ИнновацииПлюс</span>
                            </div>
                        </div>
                        <img src="./img/webflow.svg" alt="" class="reviews__case-company">
                    </div>
                </div>
                <div class="reviews__case swiper-slide">
                    <div class="reviews__stars">
                        <svg><use xlink:href="#star"></use></svg>
                        <svg><use xlink:href="#star"></use></svg>
                        <svg><use xlink:href="#star"></use></svg>
                        <svg><use xlink:href="#star"></use></svg>
                        <svg><use xlink:href="#star"></use></svg>
                    </div>
                    <div class="reviews__text">
                        <p>«Решения IQT — это вершина надёжности и эффективности. Наша сеть никогда не была столь стабильной!»</p>
                    </div>
                    <div class="reviews__case-bottom">
                        <div class="reviews__author">
                            <img src="./img/gay-1.webp" alt="" class="reviews__author-image">
                            <div class="reviews__author-info">
                                <h5 class="reviews__author-name">Алексей Смирнов</h5>
                                <span class="reviews__author-job">ИнновацииПлюс</span>
                            </div>
                        </div>
                        <img src="./img/webflow.svg" alt="" class="reviews__case-company">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>