<section class="solutions">
    <div class="solutions__container container">
        <h3 class="solutions__title title title-130">Серверные решения <br> для любых задач</h3>
        <div class="solutions__columns">
            <div class="solutions__info">
                <a href="#" class="solutions__element">
                    <h5 class="solutions__element-title">Готовые решения</h5>
                    <img src="./img/gotovie-reshenia.svg" alt="" class="solutions__element-img">
                </a>
                <a href="#" class="solutions__element">
                    <h5 class="solutions__element-title">Конфигуратор</h5>
                    <img src="./img/konfigurator.svg" alt="" class="solutions__element-img">
                </a>
            </div>
            <div class="solutions__server">
                <img src="./img/server.svg" alt="" class="solutions__server-img">
                <a href="#" class="solutions__link">
                    Graviton Сервер C2082A
                </a>
            </div>
        </div>
    </div>
</section>