<section class="team">
    <div class="team__container container">
        <div class="team__up">
            <h3 class="team__title title">Наша команда</h3>
            <p class="team__text">
                Наш коллектив — это слаженная команда профессионалов с многолетним опытом в сфере серверных технологий. Инженеры, консультанты и специалисты по обслуживанию объединены общей целью — предоставлять клиентам сервис высочайшего уровня.
            </p>
        </div>
        <div class="team__cards">
            <div class="team__card">
                <img src="./img/team/01.webp" alt="" class="team__image">
                <h5 class="team__card-title">Иванников Александр Сергеевич</h5>
                <p class="team__card-text">Ген. Директор</p>
            </div>
            <div class="team__card">
                <img src="./img/team/01.webp" alt="" class="team__image">
                <h5 class="team__card-title">Иванников Александр Сергеевич</h5>
                <p class="team__card-text">Ген. Директор</p>
            </div>
            <div class="team__card">
                <img src="./img/team/01.webp" alt="" class="team__image">
                <h5 class="team__card-title">Иванников Александр Сергеевич</h5>
                <p class="team__card-text">Ген. Директор</p>
            </div>
            <div class="team__card">
                <img src="./img/team/01.webp" alt="" class="team__image">
                <h5 class="team__card-title">Иванников Александр Сергеевич</h5>
                <p class="team__card-text">Ген. Директор</p>
            </div>
            <div class="team__card">
                <img src="./img/team/01.webp" alt="" class="team__image">
                <h5 class="team__card-title">Иванников Александр Сергеевич</h5>
                <p class="team__card-text">Ген. Директор</p>
            </div>
            <div class="team__card">
                <img src="./img/team/01.webp" alt="" class="team__image">
                <h5 class="team__card-title">Иванников Александр Сергеевич</h5>
                <p class="team__card-text">Ген. Директор</p>
            </div>
            <div class="team__card">
                <img src="./img/team/01.webp" alt="" class="team__image">
                <h5 class="team__card-title">Иванников Александр Сергеевич</h5>
                <p class="team__card-text">Ген. Директор</p>
            </div>
            <div class="team__card">
                <img src="./img/team/01.webp" alt="" class="team__image">
                <h5 class="team__card-title">Иванников Александр Сергеевич</h5>
                <p class="team__card-text">Ген. Директор</p>
            </div>
        </div>
    </div>
</section>